{% extends 'base.html' %}

{% block content %}
<div class="auth-container">
    {% if form.errors %}
        <p style="color: red; text-align: center; font-size: 14px;">Invalid username or password!</p>
    {% endif %}

    <h2>LOGIN</h2>
    
    <form method="POST">
        {% csrf_token %}
        <div class="form-wrapper">
            {% for field in form %}
                <p>
                    {{ field.label_tag }} 
                    {{ field }}
                </p>
            {% endfor %}
        </div>
        <button type="submit">LOGIN</button>
    </form>

    <div class="auth-footer">
        <p>Don't have an account?</p>
        <a href="{% url 'register' %}">Create an account</a>
    </div>
</div>
{% endblock %}
