{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Portal</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
   <nav class="navbar">
    <div class="logo">
    <a href="{% url 'home' %}" class="logo-box">JOB PORTAL</a>
</div>

    <ul class="nav-links">
    <li><a href="{% url 'job_list' %}" class="nav-box">Jobs</a></li>
    
    {% if user.is_authenticated %}
        <li><a href="{% url 'dashboard' %}" class="nav-box">Dashboard</a></li>
        <li>
            <form action="{% url 'logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="nav-box logout-btn">Logout</button>
            </form>
        </li>
    {% else %}
        <li><a href="{% url 'login' %}" class="nav-box">Login</a></li>
        <li><a href="{% url 'register' %}" class="nav-box register-btn">Register</a></li>
    {% endif %}
</ul>
</nav>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        <h5>JOB PORTAL</h5>
    </footer>
</body>
</html>
